

/* styling of background*/

body{
	background-image:url("J4o.gif");
	background-blend-mode: color;
	background-size: cover;
	background-attachment: fixed;
}
/*****************************/
/* designing of heade*/
.header{
	height:10vh;
	width: 100%;
	right: 0;
	top: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: black;
	z-index: 15;
}
/*******************************************/

/* designing of header content*/
.des{
font-size:1.5vw;
color:white;
}
.st{
height:5vh;
width:8%;
border-radius:5vw;
border:0.2vw solid black;
background-color:rgba(255,255,255);
float:right;
font-size:70%;
text-align: center;
vertical-align: middle;
text-align:center center; margin: auto;
}
.st:hover{
background-color:rgb(16, 96, 96);
transform:scale(1.2);
color:white;
}
/******************************************/

/* designning how to play*/
.blue{
	height: 50vh;
	width:80%;
	margin-top:20vh;
	margin-left:9%;
	margin-right:10%;
	border-radius: 20px;
	background-image:linear-gradient(rgba(5, 5, 6,0.5),rgb(187, 186, 196.0,2));
	z-index: -1;
	box-shadow:1vh 1vh 1.5vh 2vh rgba(0, 0, 0);
	border:1px solid white;

}


/*********************************************/

/* content of how to play*/
.head{
	color:white;
	margin-left: 2vw;
	font-size:4vw;
	margin-top: 1vh;
	text-shadow: 1px 2px 3px black,2px 3px 4px white;
}
.img{
	float: left;

	height:53%;
	width: 28%;
	margin-left: 50%;
position: absolute;
	animation: rotate 2s infinite linear;
	border-radius:25px;

}
.img:hover{
	transform: rotate(360deg);
}

.pa{
	color:white;
	font-size:2vw;
	margin-left:2vh;
	margin-top: -2vh;

}
#start{
	margin-left: 2%;
	height:7vh;
	width: 20%;
	color:white;
	border-radius: 25px;
	background-color:rgba(0,0,0,0.1);
	margin-top: -2vh;
	border: 1px solid gray;
	box-shadow: 2px 2px gray;

}
#start:hover{
	background-color: white;
	color:black;
	border:1px solid white;
}
/****************************/

/* lottery design */
.lot{

	height:10vh;
	width: 100%;
	right: 0;
	left: 0;
	bottom: 8vh;
	position: absolute;
	background-color:black;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0.5vw 0.5vw gray;
	z-index: -1;



}
.ds{
	font-size:3vw;
	color:#ffb8b8;
	margin-top:1vh;
	margin-left: 10vh;
	animation:move 10s infinite;
	text-shadow: 1px 2px 3px red;
}
@keyframes move {
 0%{ 1vw
margin-left: 0vw}
/*50%{
margin-left: 8vw;}*/
100%{
margin-left:40vw ;}
}
/********************************************/
#lot1{
	height:120vh;
	width:100%;
	right: 0;
	left: 0vh;
	bottom:-110vh;
	position: absolute;
	/*background-color:rgba(174, 173, 210,1);*/
	background-repeat: no-repeat;
	background-image: url("images.jfif");
	background-size:cover;
	z-index: -1;

}
.white{
	height:85vh;
	/*background-color:#0027eb;*/
	width: 80%;
	z-index: -1;
	margin-top:5%;
	opacity: 0.9;
	background-image: linear-gradient(#169bf3,white);
	margin-left: 10%;
	margin-right: 20%;
	border-radius: 10px;
	position: absolute;
	animation: glow 2s infinite;
}
@keyframes glow {
    0% {
        
    }
    50% {
    	
       box-shadow:0.5vh 0.5vh 2vh 5vh #bbd9ed;
    }
    100% {
        
    }
}
.inside{
	height:29vh;
   background-color:rgba(249, 245, 144,1);
	width:90%;
	position: absolute;
	margin-top:4%;
	margin-left: 5%;
	margin-right: 1%;
	border-radius: 3px;
}
.inside1{
	height:29vh;
	
	background-image: url("bingo.gif");
	width: 50%;
	position: absolute;
	margin-right: -1%;
	border-radius: 3px;
	z-index: 1;
}



/* lottery button */
#no {
	height:14vh;
	width: 20%;
	margin-top:9vh;
	margin-left:65%;
	z-index: 1;
	font-size: 250%;
	border-radius: 20px;
	border: 0.2vh black;

background-image: linear-gradient(blue,white);
color: white;
animation: indown 8s infinite;
box-shadow: 2px 2px 2px 2px blue;


}
#no:hover{
	transform: scale(1.2);
	background-image: linear-gradient(black,white);
	box-shadow: 2px 2px 2px 2px black;

}
@keyframes indown{
 0%{
 	
}
50%{
	background-image: linear-gradient(purple,white);
	box-shadow: 2px 2px 2px 2px purple;
}
100%{

}
}


/********************************/

/* side button design*/
.pp{
	margin-top: 8%;
	margin-left: 15%;
	font-size: 300%;
	color: black;
	font-family: "bodoni MT black";


}
@keyframes change {
 0%{
color:#060231;}
50%{
color:blue;
}
100%{
color:#060231;
}
}
/*****************************/



/*** entry form design */
.lot2{
	height:40vh;
	background-image: linear-gradient(blue,#92c2e2,white);
	width:70%;
	position: absolute;

	bottom: 58%;
	margin-left:15%;
	margin-right: 1%;
	border-radius: 10px;
	top:48vh;
	z-index: -1;
}
#fom{
	margin-left: 5%;
	margin-top: 2%
}
.lotdesign
{
	font-size:250%;
	color:gray;
	font-family: "berlin sans FB";
	text-shadow: 1px 2px 3px black;

}
#size{
	line-height:13vh;
	background-color:#f2f2f3;
	border-radius: 20px;
	border:0.2vh solid black;
	width: 60%;
	color:blue;
	font-size: 10vh;
}
#imag{
	float:right;
	width:30%;
	height:100%;
}
::placeholder {
  font-size: 5vh;
  opacity: 0.5;
}
#inc{
	height:  1.3em;
	width: 30%;
	border-radius: 25px;
	color: white;
	background-image:linear-gradient(red,gray);
	position: absolute;
	border:1px solid black;
	font-size:200%;
	margin-left: 5%;
	}
#inc:hover{
	transform: scale(1.2);
	background-color: red;

}
/************************************/
#win,#win2,#win3,#lose{
  display: none;
  
  border: 3px solid #f1f1f1;
  z-index: 9;
  width:80%;
  color:white;
  margin-top:1rem;
  margin-left: 10%;
  height:93vh;position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 6px 6px 8px white;
}

.winner{
	font-size: 400%;
	text-shadow:  5px 5px 3px black,8px 10px 5px red;
	margin-left:6%;
	color: white;
	animation: light 5s infinite;
}
@keyframes light{
 0% {
}
 	

50%{
	text-shadow:  5px 5px 3px black,8px 10px 5px blue;
	transform:scale(1.1);

}
100%{

}
}

#ya{
	font-size: 400%;
	margin-left:5%;
	text-shadow: 2px 2px 3px black;
}
.per{
	height: 40%;
	width: 40%;
	margin-left: 5%;
	border-radius:24px;
	border: 1px solid white;
	box-shadow: 2px 3px 4px white;
}
/****************************************************/
/* designing of footer */

.footer{
	width: 100%;
	right: 0;
	top: 200%;
	height: 39vh;
	left: 0;
	bottom: 0;
	position: absolute;
	background-color: black;
}
#foot{
	font-size:150%;
	color: yellow;
}
#up{
	margin-top:-1.5%;
	color: white;
	text-shadow: 1px 0px 0px white;
}
#dim{
	font-size:150%;
	color: yellow;
	margin-top:-10%;
	margin-left:80%;
}
.fa{
	color: white;
}
#info{
	margin-top:-5%;
	font-size:150%;
	margin-left:40%;
	color: yellow;
}
.line{
	color: white;
	opacity: 0.5;
	width: 80%;
}
#enter{
	font-family: "Arial Black";
	color:purple;
	text-shadow: 1px 1px 1px black;
	margin-left:63%;
	font-size:4vh;
	margin-top: -20vh;
	display: none;
}(print a+b=2)